.ipynb_checkpoints/
.idea/
__pycache__/
.pytest_cache
Pipfile
data/
local-data/
docs/
documentation/
*.npy
*.csv
*.zip
*.pickle
*.png

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
